<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='todo.css') }}">

</head>
<body>
    <div class="container">
        <div class="main">
            <h1>Todo List</h1>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <div class="todo_grid" style="background:transparent;">
                    <div>{{ form.todo_name(class='todoname', placeholder='Todo name')}}</div>
                    <div>{{ form.todo_date(class='tododate')}}</div>
                    <div>{{ form.todo_add(class='todobtn')}}</div>
                </div>
            </form>
            <div class="posts">
                {% for list_ in lists %}
                    <form method="POST" action="" class="todo_grid">
                        <div class='todoname_'>{{ list_.todoName }}</div>
                        <div class='tododate_'>{{ list_.todoDate}}</div>
                        <input type="hidden" name="todo_index" value="{{ loop.index0 }}">
                        <button type="submit" class="delete-btn">Delete</button>
                    </form>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>